/* main.css */

body {
	background-color: black;
	font-family: "Helvetica Neue", sans-serif;
	color: white;
}
h1,h2,h3,h4,h5,h6 {
	color: white;
}
input[type="range"] {
	-webkit-appearance: none;
	background-color: #333333;
	height: 2px;
}
input[type="button"] {
	color: white;
	border-style: solid;
	border-color: #333333;
	border-radius: 10px;
	background-color: black;
	transition-duration: 0.3s;
}
#b_button:hover, #b_button.activated {
	color: Red;
	box-shadow: 0px 0px 2px 2px Red;
}
#c_button:hover, #c_button.activated {
	color: Gold;
	box-shadow: 0px 0px 2px 2px Gold;
}
#d_button:hover, #d_button.activated {
	color: ForestGreen;
	box-shadow: 0px 0px 2px 2px ForestGreen;
}
#e_button:hover, #e_button.activated {
	color: LightSkyBlue;
	box-shadow: 0px 0px 2px 2px LightSkyBlue;
}
#f_button:hover, #f_button.activated {
	color: CornflowerBlue;
	box-shadow: 0px 0px 2px 2px CornflowerBlue;
}
#g_button:hover, #g_button.activated {
	color: Pink;
	box-shadow: 0px 0px 2px 2px Pink;
}
#h_button:hover, #h_button.activated {
	color: RebeccaPurple;
	box-shadow: 0px 0px 2px 2px RebeccaPurple;
}
.conj_button:hover, .conj_button.activated {
	color: #37ceeb;
	box-shadow: 0px 0px 2px 2px #37ceeb;
}
#visualizer {
	margin: -120px 0px;
	display: block;
	position: relative;
}