/* main.css */

body {
	background-color: black;
	font-family: "Helvetica Neue", sans-serif;
	color: white;
}
h1,h2,h3,h4,h5,h6 {
	color: white;
}
input[type="range"] {
	-webkit-appearance: none;
	background-color: #333333;
	height: 2px;
}
.hidden {
	display: none;
}
.container {
	width: 1024px;
	height: 768px;
	position: absolute;
}
.overlay {
	position: absolute;
}
#scene {
	position: absolute;
}
#visualizer {
	bottom: -120px;
	position: absolute;
}
.overlay#melody {
	width: 50px;
	left: 10px;
}
.planet, .conjunction {
	margin: 15px auto;
	background-size: 100% auto;
}
.planet#b {
	width: 96%;
}
.planet#c {
	width: 94%;
}
.planet#d {
	width: 68%;
}
.planet#e {
	width: 81%;
}
.planet#f {
	width: 92%;
}
.planet#g {
	width: 100%;
}
.planet#h {
	width: 67%;
}
.overlay#beat {
	width: 100px;
	right: 10px;
}
.conjunction {
	width: 100%;
}
.imgbutton {
	width: 100%;
}
.imgbutton:not(.hidden), .imgbutton:hover {
	border-radius: 50%;
	transition: box-shadow 0.3s ease;
}
#b_button, #bgrey_button:hover {
	box-shadow: 0 0 5px 5px Red;
}
#c_button, #cgrey_button:hover {
	box-shadow: 0 0 5px 5px Gold;
}
#d_button, #dgrey_button:hover {
	box-shadow: 0 0 5px 5px ForestGreen;
}
#e_button, #egrey_button:hover {
	box-shadow: 0 0 5px 5px LightSkyBlue;
}
#f_button, #fgrey_button:hover {
	box-shadow: 0 0 5px 5px CornflowerBlue;
}
#g_button, #ggrey_button:hover {
	box-shadow: 0 0 5px 5px Pink;
}
#h_button, #hgrey_button:hover {
	box-shadow: 0 0 5px 5px RebeccaPurple;
}
#bc_button, #bcgrey_button:hover,
#cd_button, #cdgrey_button:hover,
#de_button, #degrey_button:hover,
#ef_button, #efgrey_button:hover,
#fg_button, #fggrey_button:hover,
#gh_button, #ghgrey_button:hover {
	box-shadow: 0 0 5px 5px #37ceeb;
}
